<!-- <i  class="far fa-trash-alt" (onClick)="delete(request)"></i> -->
<div class="border">
    <h1>new request</h1>
    <div *ngIf="answer">
        <input *ngIf="enterUrl==true" class="swal2-input" type="text" id="url-input" placeholder="Enter Url..." (onClick)="AddOrUpdateRequest()"
            (input)="onInput()" [(ngModel)]="urlFile">
        <br>
        <br>

        <app-timing (onRequestChanged)="onRequestChanged1($event)"></app-timing>
        <div class="start-monitoring">
            <br/> <br/> <br/>
            <p-button (onClick)="AddOrUpdateRequest()" label="Start Monitoring">Start Monitoring</p-button>
        </div>
        <br/>
    </div>
</div>

<div class="border">
    <h1>all requests</h1>
    <br>
    <br>
    <div class="requests" *ngFor="let request of requests,let i=index">
        <app-timing [ngClass]="{'edit':enableEditArr[i]}" [fillRequest]="request" (onRequestChanged)="onRequestChanged($event)"></app-timing>
        <button pButton (click)="deleteRequest(request)">
            <i class="far fa-trash-alt"></i>
        </button>
        <button pButton (click)="updateDetailsOfTimingRequest(request)">
            <i class="far fa-edit"></i>
        </button>
        <button pButton (click)="OnEnableEdit(i)">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </div>

</div>