<header>
        <h1>We monitor webpages... so you don't have to!</h1>
<img src="/assets/images/logo.png">

</header>
<!-- <h1>We monitor webpages... so you don't have to!</h1> -->
<h3>recording your surfing and relax: We'll send you an email alert when something changes</h3>
<video src="https://dj1xg6k8tv6mw.cloudfront.net/p/animation_964x752_3_MQ.mp4" autoplay loop>
</video>
<br>

<button pButton (click)="addNewUser()">
        <i class="fas fa-user-friends"></i>Add
</button>
<button pButton (click)="login()">
        <i class="fas fa-user"></i>Login
</button>
<button pButton>
         <i class="fas fa-download"><a href="/assets/Q10.zip" download></a></i>Download
</button>

<!-- <i class="fas fa-user-plus"></i>  -->