<div class="home">

<div style="position:relative;top:-150px">
<img src="/assets/logo_txt.png">
</div>
<div style="position:relative;top:-220px">
<video src="https://dj1xg6k8tv6mw.cloudfront.net/p/animation_964x752_3_MQ.mp4" autoplay loop>
</video>
<br>

<button class="left" pButton (click)="addNewUser()">
        <i class="fas fa-user-friends"></i>New User
</button>
<button class="left" pButton (click)="login()">
        <i class="fas fa-user"></i>Login
</button>
<button class="right d" pButton>
        <i class="fas fa-download"><a href="/assets/OnTimeExtensions.zip" download></a></i> Download
</button>
<img src="/assets/how_to_do_it.png">
</div>

<!-- <i class="fas fa-user-plus"></i>  --></div>